.u-section-1 {
  background-image: url("images/pexelsphoto406014.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 500;
  width: 740px;
  margin: 92px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 740px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 783px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 928px;
  margin: 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 331px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-2 .u-icon-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
  width: 64px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 331px;
  background-image: url("images/pexelsphoto3377909.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 289px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 289px;
  background-image: url("images/pexelsphoto662417.jpeg");
  background-position: 0% 6.29%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 289px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 257px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 224px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 578px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 364px;
  }

  .u-section-2 .u-image-2 {
    min-height: 317px;
  }
}.u-section-3 {
  background-image: url("images/pexelsphoto3452072.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 695px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 70px 808px 0 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 400;
  margin: 20px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 8px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 693px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 573px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 90px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 573px;
  background-image: url("images/pexelsphoto3294248.jpeg");
  background-position: 37.94% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 573px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 273px;
  margin: 300px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 472px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 472px;
  }

  .u-section-4 .u-image-2 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 362px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-4 .u-image-1 {
    min-height: 679px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 430px;
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-4 .u-image-1 {
    min-height: 428px;
  }

  .u-section-4 .u-image-2 {
    height: 271px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  min-height: 575px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 575px;
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 30px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-text-2 {
  line-height: 1;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/pexelsphoto3621726.jpeg");
  background-position: 50% 50%;
  min-height: 575px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 274px;
}

.u-section-5 .u-container-layout-3 {
  padding: 60px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 301px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 171px;
  min-width: 133px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 474px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-5 .u-image-1 {
    min-height: 474px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 226px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 1546px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 519px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 692px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1114px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 779px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 519px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 490px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 327px;
  }
}.u-section-6 {
  min-height: 665px;
  background-image: url("images/ght.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 665px;
}

.u-section-6 .u-container-layout-1 {
  padding: 60px 150px 60px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 209px 0 0;
}

.u-section-6 .u-text-3 {
  font-style: normal;
  margin: 28px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 28px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-6 .u-image-1 {
  min-height: 665px;
  background-image: url("images/sxxccc.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 273px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 50px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 65px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 112px;
  }

  .u-section-6 .u-image-1 {
    min-height: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: NaNpx;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 1472px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 429px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 1533px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 455px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-text-1 {
  line-height: 53px;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 60px 114px 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 60px;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-8 {
  background-image: url("images/pexelsphoto1458916.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
  margin: 60px 0 0 584px;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 0 0 674px;
}

.u-section-8 .u-form-1 {
  height: 47px;
  margin: 30px 0 60px 641px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 384px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 474px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 164px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 254px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    background-position: 88.28% 80.58%;
    background-size: 140%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 74px;
  }

  .u-section-8 .u-form-1 {
    height: 110px;
    margin-left: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    background-position: 94.43% 84.83%;
    background-size: auto 130%;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-form-1 {
    margin-left: 2px;
  }
}